@import "reset.scss";

.header{
    z-index: 100;
    position: fixed; 
    left: 0; top: 0;
    margin-top: 20px;
    width: 100%; height: 30px;
    display: flex; flex-direction: column; 
    color: #444444; padding: 0 15px; box-sizing: border-box;
    border-radius: 0 0 10px 10px;
    background-color: rgba(0,0,0,0);
}

.status_bar{display: flex; flex-direction: row;
    justify-content: space-between; align-items: center;
    height: 37.5%;}
.status_bar>div{flex: 1;}
.status_bar>div:nth-child(1){text-align: left;}
.status_bar>div:nth-child(2){text-align: center;}
.status_bar>div:nth-child(3){text-align: right;}
